In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import dataiku
from dataiku import pandasutils as pdu
import pandas as pd

In [4]:
# Example: load a DSS dataset as a Pandas dataframe
mydataset = dataiku.Dataset("hmeq")
mydataset_df = mydataset.get_dataframe()

In [5]:
nb_rows = mydataset_df.shape[0]
nb_cols = mydataset_df.shape[1]

In [6]:
nb_rows

5960

In [7]:
nb_cols

13